.hello {
  color: red;
  background: url("./demo.jpg");
}
.nav {
  background-color: blue;
  width: 100vw;
  padding: 0 2em;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  width: 100vw;
}

.projectStyles {
  color: brown;
}

.left-body {
  width: 30%;
  background-color: bisque;
}

.right-body {
  width: 70%;
  background-color: aquamarine;
}

#left-container {
  width: 30%;
}

.nav h1 {
  color: white;
  font-size: 20px;
  margin: auto;
  padding: 0.4em;
}

.project-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 25px;
}

.addProject {
  color: blue;
  padding-right: 30px;
}

#right-container {
  display: flex;
  flex-direction: row;
  width: 70%;
  justify-content: flex-end;
  margin: auto;
}

.bell-item,
.setting-item {
  color: white;
  text-decoration: none;
  padding-right: 1em;
}

.plus {
  color: white;
  text-decoration: none;
  padding-right: 1em;
}

.bell-item:hover,
.plus:hover,
.setting-item:hover {
  text-decoration: none;
}

.fa-angle-right {
  padding-top: 10px;
  transform: rotate(90deg);
}

.project-p {
  font-weight: bold;
  font-size: 1.1em;
}